<h1>Edit the task</h1>

<%= render 'form', task: @task %>



<p>
  <%=link_to '<i class="fas fa-arrow-alt-circle-left"></i>'.html_safe, tasks_path %>
  <%= link_to("go back to the task", task_path) %>
</p>

<p>
  <%=link_to '<i class="fas fa-list-ul"></i>'.html_safe, tasks_path %>
  <%=link_to "Go back to all tasks!", tasks_path %>
</p>

